<!--Imagem Redirect-->
<a href="">
  <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Star_wars2.svg/1200px-Star_wars2.svg.png" alt="StarWars">
</a>


<!--NavBar-->
<ul class="nav justify-content-center navbar sticky-top" style="background-color: #ffffff">
  <li class="nav-item">
    <a class="nav-link active" href="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]= "['personagens']">Personagens</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]= "['planetas']">Planetas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]= "['naves']">Naves</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]= "['veiculos']">Veículos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]= "['especies']">Espécies</a>
  </li>
</ul>

<div>
  <router-outlet></router-outlet>
</div>
