<!--Imagens Hover-->

<div class="clearfix">
  <div class="container">
    <a [routerLink]= "['personagens']">
      <img src="http://images5.fanpop.com/image/photos/27800000/Jedi-star-wars-jedi-27860668-425-315.jpg" alt="Personagem" class="image"
        style="width:100%">
      <div class="overlay">
        <div class="text" href="#">Personagens</div>
      </div>
    </a>
  </div>

  <div class="container">
    <a href="#">
      <img src="https://vignette.wikia.nocookie.net/starwars/images/9/9e/Lok-SWGMB.jpg/revision/latest?cb=20111224005419" alt="Planetas"
        class="image" style="width:100%">
      <div class="overlay">
        <div class="text">Planetas</div>
      </div>
    </a>
  </div>

  <div class="container">
    <a href="#">
      <img src="https://www.wallpaperup.com/uploads/wallpapers/2014/11/29/533542/a37d9fa7a5a62031250fd7b75ec6c880-700.jpg" alt="Naves"
        class="image" style="width:100%">
      <div class="overlay">
        <div class="text">Naves</div>
      </div>
    </a>
  </div>

  <div class="container">
    <a href="#">
      <img src="https://cdn1.thr.com/sites/default/files/imagecache/scale_crop_768_433/2017/08/star-wars-the-last-jedi-at-m6_-_h_2017.jpg"
        alt="Veiculos" class="image" style="width:100%">
      <div class="overlay">
        <div class="text">Veículos</div>
      </div>
    </a>
  </div>

  <div class="container">
    <a href="#">
      <img src="https://i.pinimg.com/736x/d9/ab/eb/d9abeb86ef86b728ada5d01baad1f43c--star-wars-species-star-wars-rpg.jpg" alt="Especies"
        class="image" style="width:100%">
      <div class="overlay">
        <div class="text">Especies</div>
      </div>
    </a>
  </div>
</div>
